@import "color.less";
@import "fonts";

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
h1 {
	font-size: 1.3em;
}
h2{
	font-size: 1.2em;
}
h3 {
	font-size: 1.1em;
}
h4,h5,h6 {
	font-size: 1em;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

html,body {
	margin: 0;
	color: @text-color;
	width: 450px;
	min-height: 240px;
}

#react-container, .container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

@import "components/main";
@import "components/hover-text";

@import "node_modules/foo-lib/less/tab-control";
@import "node_modules/foo-lib/less/input-text";
@import "node_modules/foo-lib/less/dummy-checkbox";
@import "node_modules/foo-lib/less/toast";

.tab-control-mixin(@primary, @primary);
.dummy-input-text-mixin(@light-text, @card-border, @card-border, #FFF, @primary);
.dummy-checkbox-mixin(@secondary);
.toast-mixin();