// text
@text-color: #666;
@light-text: #999;
@dark-theme-text: #CCC;
@dark-theme-light: #EEE;

// borders
@card-border: #EEE;
@card-border-darker: #DDD;
@modal-border: #ddd;

// color
@white: #FFF;
@shadow: #BBB;
@blue: #097BEC;
@shadow-dark: rgba(0,0,0,0.3);
@body: #ffffff;
@grey-highlight: #F5F5F5;
@grey-light: #F0F0F0;
@screen-color: rgba(0,0,0,0.1);
@transparent: rgba(0,0,0,0);
@menu-strip: #3498db;
@search-focus: rgba(0,0,0,0.1);
@search-border: rgba(0,0,0,0.2);
@option-bg: #ecf0f1;
@input-border: #bdc3c7;
@input-border-highlight: #3498db;
@input-focused: #F3F6F7;
@action-button-highlight: #EEE;
@action-button-active: #DDD;
@tooltip-bg: #444;
@ripple-start: rgba(0,0,0,0.4);
@ripple-end: rgba(0,0,0,0);
@green: #2ecc71;
@orange: #e67e22;
@red: #e74c3c;
@footer-bg: #444;

// buttons
@button-color: #097BEC;
@button-border: #046CD3;
@button-border-secondary: #AAA;