// text
@text-color: #666;
@light-text: #999;
@dark-theme-text: #CCC;
@dark-theme-light: #EEE;

// borders
@card-border: #EEE;
@card-border-darker: #DDD;
@modal-border: #ddd;

// color
@primary: #2196F3;
@secondary: #00C853;
	// buttons
@button-color: #097BEC;
@button-border: #046CD3;
@button-border-secondary: #AAA;